<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <a href="/create">登録する</a>
        <table>
            <tr>
                <td>ID</td>
                <td>顧客名</td>
                <td>住所</td>
                <td>電話番号</td>
            </tr>
            <% for(let i = 0; i < manages.length; i++) { %>
            <tr>
                <td><%= manages[i].id %></td>
                <td><%= manages[i].clientName %></td>
                <td><%= manages[i].address %></td>
                <td><%= manages[i].tel %></td>
            </tr>
            <% } %>
            <tr>
                <th><a href="/edit:id"></a></th>
            </tr>
        </table>

        <script src="/javascripts/script.js"></script>
    </body>
</html>
