<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <button><a href="/search">検索</a></button>
    <button><a href="/create">登録</a></button>
    <table>
      <tr>
        <td>ID</td>
        <td>顧客名</td>
      </tr>
      <% for(let i = 0; i < manages.length; i++) { %>
      <tr class="clientList">
        <td class="clientId"><%= manages[i].id %></td>
        <td><%= manages[i].clientName %></td>
        <td><a href="/edit/<%= manages[i].id %>">編集</a></td>
        <td><a href="/delete/<%= manages[i].id %>">削除</a></td>
      </tr>
      <% } %>
    </table>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
